html, body{
    height: 100%;
    background-image: url(http://source.unsplash.com/RgIKRYhmG2k);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 2em;
}

/* .collapse a{
    color: crimson;
} */
    
.bg{
    color: crimson;
}